body{
    text-align: center;
    background-color: rgb(75, 37, 37);
    color: white;
}
input{
    margin: 10px;
}
h1{
    color:#976d96;
    margin-top: 50px;
}
button{
   
    color:blue;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;


}
button:hover{
    box-shadow: 1px 1px 1px red;
    color: rgb(177, 45, 189);
    padding: 7px;

  
}
#main-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
img{
    width:200px;
    height:200px;
    margin: 20px;
    position: relative;
    opacity: 0.2;
}
img:hover{
box-shadow: 1px 1px 1px red  ;  
border-radius: 20px;
width:250px;
height:220px;
cursor: pointer;
opacity: 1;
}